name: Brain_Games Automated Build and CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.9'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
      - name : Install poetry and dependencies
        run: |
          python -m pip install --user poetry
          poetry install
      - name: Linter check
        run: make lint
